<app-title [title]="'Editar Evento'" [icon]="'calendar-plus'"></app-title>
<div class="card rounded shadow-sm ">
  <form [formGroup]="form">
    <div class="p-3">

      <!-- FIRST LINE -->
      <div class="form-row">

        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': form.get('theme')?.errors && form.get('theme')?.touched}" formControlName="theme"
            placeholder="Insira o Tema">
          <div class="invalid-feedback" *ngIf="form.get('theme')?.hasError('required')">Tema é obrigatório</div>
          <div class="invalid-feedback" *ngIf="form.get('theme')?.hasError('minlength')">Tamanho mínimo: 4 caracteres
          </div>
          <div class="invalid-feedback" *ngIf="form.get('theme')?.hasError('maxlength')">Tamanho máximo: 50 caracteres
          </div>
        </div>

      </div>

      <!-- SECOND LINE -->
      <div class="form-row">

        <div class="form-group col-md-8">
          <label>Local</label>
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': form.get('location')?.errors && form.get('location')?.touched}"
            formControlName="location" placeholder="Insira o local">
          <div class="invalid-feedback">Local é obrigatório</div>
        </div>

        <div class="form-group col-md-4">
          <label>Data e Hora</label>
          <input type="datetime" class="form-control"
            [ngClass]="{'is-invalid': form.get('eventDate')?.errors && form.get('eventDate')?.touched}"
            formControlName="eventDate" placeholder="">
          <div class="invalid-feedback">Data é obrigatória</div>
        </div>

      </div>

      <!-- THIRD LINE -->
      <div class="form-row">

        <div class="form-group col-md-2">
          <label>Ocupação Máxima</label>
          <input type="number" class="form-control"
            [ngClass]="{'is-invalid': form.get('numberOfPeople')?.errors && form.get('numberOfPeople')?.touched}"
            formControlName="numberOfPeople" placeholder="">
          <div class="invalid-feedback" *ngIf="form.get('numberOfPeople')?.hasError('required')">Ocupação máxima é obrigatória
          </div>
          <div class="invalid-feedback" *ngIf="form.get('numberOfPeople')?.hasError('max')">A capacidade máxima é de 120000
          </div>

        </div>

        <div class="form-group col-md-2">
          <label>Telefone</label>
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': form.get('phoneNumber')?.errors && form.get('phoneNumber')?.touched}"
            formControlName="phoneNumber" placeholder="(000) 90000-0000">
          <div class="invalid-feedback">Telefone é obrigatório</div>
        </div>

        <div class="form-group col-md-4">
          <label>Email</label>
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': form.get('email')?.errors && form.get('email')?.touched}" formControlName="email"
            placeholder="e-mail">
          <div class="invalid-feedback" *ngIf="form.get('email')?.hasError('required')">E-mail é obrigatório
          </div>
          <div class="invalid-feedback" *ngIf="form.get('email')?.hasError('email')">Insira um endereço de e-mail válido
          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Imagem</label>
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': form.get('imageURL')?.errors && form.get('imageURL')?.touched}"
            formControlName="imageURL" placeholder="imagem">
          <div class="invalid-feedback">Imagem é obrigatório</div>
        </div>

      </div>

    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        <button class="btn btn-success" [disabled]="!form.valid">
          <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
          Salvar Evento
        </button>
      </div>
    </div>
  </form>
</div>
